.hero-image {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("${pageContext.request.contextPath}/resources/images/header.jpg");
}

body {
	background-color: powderblue;
}

h1 {
	color: blue;
	font-family: verdana;
	font-size: 300%;
	font-family: courier;
	font-size: 160%;
}

p {
	color: red;
}